
body {
    background: linear-gradient(#f1f2b5, #135058);
    font-family: 'Shadows Into Light Two', cursive;
    text-align: center;
    font-size: 24px;
    color: purple;
}

img {
    width: 100%;
    height: auto;
}

.headerimage {
    background-image: url(https://kids.nationalgeographic.com/content/dam/kids/photos/animals/Mammals/Q-Z/sloth-beach-upside-down.adapt.945.1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; is this needed? */
    height: 380px;
    width: 100%;
}

.headline {
    display: inline-block;
    color: white;
    padding-top: 30px;
}

.headline:hover {
    color: yellow;
}

.navbar {
    overflow: hidden;
    position: fixed;
    background-color: pink;
    font-size: 30px;
    top: 0;
    width: 100%;
}

.navinfo {
    color: purple;
    padding: 50px;
}

.navinfo:hover {
    color: yellow;
}

li {
    list-style-position: inside;
}

.divtable {
    display: flex;
    flex-wrap: wrap;
    background-color: pink;
    margin: 30px 120px;
    border: 2px solid purple;
    padding: 10px 40px;
    text-align: justify;
}

.divrow {
    margin: 10px 20px;
}

.head {
    font-weight: bold;
    text-decoration: underline;
}

.row {
    width: 100;
    display: flex;
}

.column {
    flex: 50%;
    padding: 0px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 80%;
    height: auto;
    padding: 4px;
}

/* .column img:hover {
    cursor: default;
    transform: scale(1.2);
} */

.bottom {
    color: orange;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
