// main:../scss/main.scss

// Color Section
$text-color:#6f0c80;
$theme-color: #da22de;
$secondary-color: #4add1d;
$ternary-color: #91d4ae;
$link-color: $secondary-color;
$menu-item-color: white;

// Font Section
$text-font: "Nanum Gothic", arial, sans-serif;
$headline-font: "Indie Flower", Georgia, serif;

// Size Section
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;
